:root {
  --baggrund-color: #f9eede;
  --streg-color: #f39c9c;
  --knap-color: #ff4daa;
  --boks1-color: #ff4daa96;
  --boks2-color: #fd7d7496;
  --boks3-color: #ff915e96;
  --tema2-color: #fe4aa9;
  --tema3-color: #fc5799;
  --tema4-color: #fe727e;
  --tema5-color: #fd8966;
  --ommig-color: #fd9a56;
}

/* Menu styling */
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 51px;
  left: 0px;
}

/* Menu links styling */
.menu a {
  text-decoration: none; /* Fjern understregning */
  color: black; /* Sort tekstfarve */
  font-size: 1rem; /* Tekststørrelse */
  position: relative; /* Bruges til hover-effekten */
  font-weight: 500; /* Gør teksten lettere fed */
  padding: 10px; /* Giv lidt luft omkring linkene */
  text-align: center; /* Centrer teksten */
}

/* Understregningseffekt */
.menu a::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Placer linjen lige under teksten */
  left: 0;
  width: 0;
  height: 2px; /* Højden på linjen */
  background-color: #f39c9c; /* Pink farve */
  transition: width 0.3s ease; /* Glidende animation */
}

/* Understregning på hover */
.menu a:hover::after,
.menu a.active::after {
  width: 100%; /* Fylder hele bredden */
}

/* LOGO */
.logo {
  padding-left: 14px; /** placering **/
}

/** MENU MOBIL **/
.burger {
  width: 30px; /** længde på burger ***/
  cursor: pointer; /** Gør menuen klikbar **/
}

.burger .line {
  height: 2px; /** Størrelse på burger streger **/
  background-color: #333333; /** Farve **/
  margin-bottom: 5px; /** Afstand mellem linjer **/
}

/** BURGER MENU**/
.burger {
  display: none; /** Fjerner burger i desktop **/
}

@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between; /** Menu højre **/
    box-shadow: 0 2px 4px rgba(255, 10, 157, 0.1); /** Skygge **/
    margin-inline: auto; /** Auto i midten **/
  }
  .logo {
    width: 50px;
  }
  .menu {
    display: none; /** Menu vises **/
    margin-top: -50px; /** Samme afstand til top = px **/
  }

  .burger {
    display: block; /** Gør burger-menu synlig **/
    margin-left: -20%; /** Mellemrum venstre **/
    margin-top: 60%; /** Mellemrum til top **/
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  .burger.active .line:nth-child(2) {
    opacity: 0; /** Fjerner streg to i burger så det giver kryds **/
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  nav.active .menu {
    display: block; /** Menu bliver synlig **/
    position: absolute; /** Menu kommer ned **/
    background-color: var(--baggrund-color); /** Baggrundsfarve **/
    top: 118px; /** Menu kommer rigtig ned **/
    left: 0; /** Fylder det hele **/
    width: 100%; /** Menu fylder hele skærm **/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /** Skygge **/
    z-index: 10; /** Rykker menu frem foran alt**/
  }

  nav.active .menu li {
    margin: 5px 5px; /** Mellemrum mellem links **/
  }

  nav.active .menu a {
    font-size: 15px; /** Skriftstørrelse **/
    font-family: lato; /** Skrifttype **/
  }

  .menu a:hover::after,
  .menu a.active::after {
    width: 100%; /** Underlinjen forsvinder **/
    top: 30px;
  }
}

/* FONTS */
h1 {
  font-family: Rasa;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: Prata;
}

p {
  font-family: Lato;
}

/*LINK*/
a {
  text-decoration: none;
  font-family: Lato;
  color: var(--knap-color);
}
